@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html {
  background-color: #210002;
  color: #053d4d;
  font-family: "Verlag A", "Verlag B", "Verlag";
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 20px;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h2 {
  letter-spacing: 10px;
}

h2.nobackground {
  font-size: 170%;
}

::selection {
  background-color: #e77a66; /* Use your desired color code or name */
  color: ghostwhite; /* Change the text color inside the selection */
}

body {
  position: relative;
  margin: 0;
  cursor: url("assets/img/cursor.png"), auto;
}

#parallax {
  display: block;
  background-color: #e77a66;
}

.section,
.section_layer {
  height: 100vh;
}

.section {
  position: relative;
  z-index: 10;
  color: #053d4d;
}

.section_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.section_layer.parallax,
.section_layer.cloudRight,
.section_layer.cloudLeft {
  position: fixed;
}

#layer-0 {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("assets/img/hill-0.png");
  background-size: cover;
}

#layer-1 {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("assets/img/hill-1.png");
  background-size: cover;
}

#layer-2 {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("assets/img/hill-2.png");
  background-size: cover;
}

#layer-3 {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("assets/img/hill-3.png");
  background-size: cover;
}

#layer-4 {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("assets/img/clouds-1.png");
  background-size: cover;
}

#layer-5 {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("assets/img/clouds-2.png");
  background-size: cover;
}

#maincontent {
  background: linear-gradient(to right, #05d4c0, #05cebb, #04c3b4, #05d5bf, #05c1b3);
  position: relative;
  z-index: 98;
}

#main {
  max-width: 900px;
  padding: 30px 20px;
  z-index: 99;
  position: relative;
  margin: auto;
}

.section-title {
  margin-bottom: 40px;
}

.section-description {
  text-align: left;
}

p {
  display: inline;
}

p.left {
  margin: 0;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(182, 182, 182, 0.7); /* Semi-transparent white background */
  z-index: 1000;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #e77a66;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
